html
	box-sizing: border-box

*,*::after,*::before
	box-sizing: inherit

body
	padding: 0
	margin: 0
	font-family: var.$sans
	background-color: var.$black
	color: var.$white
	font-size: var.$font-size

@for $var from 1 through 6 
	h#{$var}
		margin: 0

p
	margin: 0
	padding: 0

a
	text-decoration: none