@font-face
	font-family: Oxygen
	src: url("../../fonts/oxygen/Oxygen-Regular.ttf") format("truetype")

a
	color: var.$magenta
	&:hover
		color: var.$hotmag

#intro 
	& p 
		font-size: 1rem
		line-height: 1.5
	& .name
		font-family: var.$mono
		& span
			font-family: var.$sans
			font-size: 4rem
			color: var.$aqua
			display: block
	& h2
		font-size: 4rem
		font-weight: normal

#contact
	text-align: center
	& p
		font-size: 1rem
		line-height: 1rem
		margin: 2rem 0
	& h3
		font-size: 2rem
	& a
		font-family: var.$mono
		color: var.$white
		@include buttons

#projects

	& h2
		font-size: 2.5rem

	& h3
		color: var.$aqua

	& h4
		font-size: 1rem
		font-family: var.$mono

	& ul
		list-style-type: none
		font-size: 1rem

	& .blackbox
		font-size: 1rem
		line-height: 1.5

nav, footer
	font-family: var.$mono
	font-size: 80%

	& .button
		@include buttons

footer
	& ul
		list-style-type: none